@import '../../shared/style/variables';

.line{
    margin: 10px auto;
    width: 380px;
    height: 4px;
    background-color: $primary;
    border-radius: 8px;
}

.discount{
    font-size: 42px;
    line-height: 1.2em;
    font-weight: 800;
    text-align: center;
}

.btn-add{
    width: 250px;
    height: 50px;
    border: 2px solid $primary;
    font-size: 26px;
    font-weight: 600;
    border-radius: 8px;
    margin: 30px 0 20px 10px;
            
}

.btn-add:hover{
    background-color: $primary;
    border: none;
}

.num{
    display: flex;
    font-size: 26px;
    font-weight: 800;

    .num-page{
        width: 35px;
        height: 32px;
        border-radius: 6px;
        background-color: $primary;
        text-align: center;
        padding-top: 4px;
        margin: 0 20px 20px 0;
    }

}

.mat-raised-button{
    margin-left: 40px;
}


