<section class="container">
    <div class="line"></div>
    <h2 class="discount">Особистий кабінет</h2>
</section>

<div class="container col-12 nav">
  <div class="d-flex align-items-start me-4">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button [routerLink]="['about-user']"
              routerLinkActive="rout-active" class="btn btn-add mb-4" type="button">Особисті дані</button>
      <button [routerLink]="['order-personal']"
              routerLinkActive="rout-active" class=" btn-add mb-4" type="button">Замовлення</button>
      <button [routerLink]="['password-change']"
              routerLinkActive="rout-active" class="btn btn-add mb-4" type="button">Зміна паролю</button>
      <button (click)="logout()" class="btn btn-add mb-4" type="button">Вихід</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
