@import '../../shared/style/variables';

.line{
    margin: 10px auto;
    width: 160px;
    height: 4px;
    background-color: $primary;
    border-radius: 8px;
}

.discount{
    font-size: 42px;
    line-height: 1.2em;
    font-weight: 800;
    text-align: center;
}

.card{
    border: none;
    cursor: pointer;
}

.card hr{
    height: 4px;
    background-color: $primary;
    width: 100%;

}

.title_discount{
    font-size: 42px;
    font-weight: 900;
    height: 100px;
}

.title_discount:hover{
    color: $primary;
}

.btn_discount{
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    text-transform:uppercase;
    padding-top: 5px;
    background-color: $primary;
    border: 2px solid $primary;

}

.btn_discount:hover{
    background-color: white;
}
