@import "../../shared/style/_variables";

.header__inner {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $primary;

  .header__logo {
    width: 200px;
    background-color: $primary;
    text-align: center;
    padding: 5px 10px 0 10px;

    .logo img {
      width: 100%;
      height: 100%;
    }
  }

  .menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 15px 0 15px;

    .nav__item {
      .card__box {
        text-decoration: none;
        color: #000;
        font-weight: 600;

        .card {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 65px;
          height: 65px;
          border: none;

          .nav-img {
            width: 28px;
            height: 28px;
            margin: 5px;
          }

          
        }

      }
            
      .btn-small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 190px;
        background-color: $primary;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        border: 2px solid $primary;
        border-radius: 8px;
     
      }

      .btn-small:hover {
        background-color: rgb(248, 246, 244);
      }

       .btn-user {
        width: 50px;
        height: 50px;
        background-color: $primary;
        border: 2px solid $primary;
        border-radius: 8px;
      }

      .btn-user:hover {
        background-color: rgb(248, 246, 244);
      }
    }

    .secondary-address{
      margin: 0 25px;
      text-align: center;
      text-decoration: none;

    }

  }

  .basket{
    width: 200px;
    background-color: $primary;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .basket img{
      width: 40px;
      height: 40px;
     }

    .count{
      position: absolute;
      height: 20px;
      width: 25px;
      background-color: aliceblue;
      top: 15px;
      left: 50px;
      border-radius: 50%;
      text-align: center;
      
    }
  }
}

.modal-position{
  width: 800px;
  min-height: 450px;
  top: 53px;
  left: 700px;
}


