<header class="header">
  <div class="header__inner">
    <a [routerLink]="['/']" href="#" class="header__logo">
      <img src="../../../assets/img/logo.svg" alt="" />
    </a>
    <nav class="menu">
      <ul class="menu__list">
        <li class="nav__item">
          <a [routerLink]="['/discount']" routerLinkActive="rout-active" href="#" class ="card__box">
            <div class="card">
              <img
                class="nav-img"
                src="../../../assets/img/nav-img-gift.svg"
                alt=""
              /><span>Акції</span>
            </div>
          </a>
        </li>
        <li class="nav__item">
          <a [routerLink]="['/product/rolls']" routerLinkActive="rout-active" href="#" class ="card__box"
            ><div class="card">
              <img
                class="nav-img"
                src="../../../assets/img/nav-img-rolls.svg"
                alt=""
              /><span>Роли</span>
            </div></a
          >
        </li>
        <li class="nav__item">
          <a [routerLink]="['/product/setu']" routerLinkActive="rout-active" href="#" class ="card__box"
            ><div class="card">
              <img
                class="nav-img"
                src="../../../assets/img/nav-img-sets.svg"
                alt=""
              /><span>Сети</span>
            </div></a
          >
        </li>
        <li class="nav__item">
          <a [routerLink]="['/product/drinks']" routerLinkActive="rout-active" href="#" class ="card__box"
            ><div class="card">
              <img
                class="nav-img"
                src="../../../assets/img/nav-img-drinks.svg"
                alt=""
              /><span>Напої</span>
            </div></a
          >
        </li>
        <li class="nav__item">
          <a [routerLink]="['/product/sousi']" routerLinkActive="rout-active" href="#" class ="card__box"
            ><div class="card">
              <img
                class="nav-img"
                src="../../../assets/img/icon.svg"
                alt=""
              /><span>Соуси</span>
            </div></a
          >
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="line">Інформація</span>
          
            </button>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/delivery']"
                routerLinkActive="rout-active" class="dropdown-item" href="#">Доставка та оплата</a></li>
              <li><a [routerLink]="['/about']"
                routerLinkActive="rout-active" class="dropdown-item" href="#">Про нас</a></li>
              <li><a [routerLink]="['/discount']" routerLinkActive="rout-active" class="dropdown-item" href="#">Акції</a></li>
            </ul>
          </div>
        </li>
        <li class="nav__item">
          <button class="btn btn-small">
            <img src="../../../assets/img/phone.svg" alt="" />
            <span>МИ ЗАТЕЛЕФОНУЄМО</span>
          </button>
        </li>
        <li class="secondary-address">
          <a class="card__box header-phone" href="tel:0978780837">(097) 878 08 37</a>
          <div class="">Працюємо з <b>11:00</b> до <b>22:30</b></div>
        </li>
        <!-- <li class="nav__item" *ngIf="!isLogin">
          <button class="btn-user" [routerLink]="['/auth']"
          routerLinkActive="rout-active">
            <img src="../../../assets/img/user.svg" alt="" />
          </button>
        </li> -->
        <li class="nav__item" *ngIf="!isLogin">
          <button  class="btn-user" (click)="openDialog()" >
            <img src="../../../assets/img/user.svg" alt="" />
          </button>
        </li>
       
        <li class="nav__item" *ngIf="isLogin">
          <button class="btn-user" [routerLink]="['/' + loginUrl]"
          routerLinkActive="rout-active">
            <img src="../../../assets/img/user.svg" alt="" />
            <span>{{ loginPage }}</span>
          </button>
        </li>

      </ul>
    </nav>
    <div data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="basket">
      <img src="../../../assets/img/basket.svg" alt="" />
      <p> {{ total }} <span>грн</span></p>
      <div class="count">
        <span>{{count}}</span>
      </div>
      <div class="modal fade modal-position" id="staticBackdrop">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column" *ngIf= "baskets.length > 0">
              <ng-container  *ngFor="let basket of baskets">
                <div class="d-flex flex-row mb-2 align-items-center">
                  <img style="width: 80px;" class="me-3" [src]="basket.imagePath" alt="basket.name" />
                  <h6 class="modal-title fs-6" id="staticBackdropLabel">{{ basket.name}}</h6>
                  <div class="btn-group me-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary" style="width: 25px; height: 25px;">-</button>
                    <input [value] ="basket.count" style="width: 30px; height: 25px;">
                    <button  type="button" class="btn btn-outline-primary" style="width: 25px; height: 25px;">+</button>
                  </div>
                  <p class="me-2 fs-6">{{ basket.price * basket.count}} <span>грн</span></p>
                  <button type="button" class="btn btn-outline-primary">Видалити</button>
                </div>
             </ng-container>
            </div>
            <div class="modal-footer">
              <p> {{ total }} <span>грн</span></p>
              <button [routerLink]="['/checkaut']"
              routerLinkActive="rout-active" type="button" class="btn btn-primary fs-6">Замовити</button>
            </div>
          </div>
        </div>
      </div>
      
   
    </div>
  </div>
</header>


