<section class="container mb-3">
    <div class="line"></div>
    <h2 class="discount">Оформити замовлення</h2>
</section>

<div class="container m-auto">
    <div class="row mt-4" >
        <hr>
      <div class="d-flex flex-column justify-content-center" *ngIf= "checkouts.length === 0">
          <div class="card text-center">
            <div class="card-header"></div>
            <div class="card-body">
              <h1 class="fs-3">
                Кошик порожній :)
              </h1>
            </div>
            <div class="card-footer text-muted"></div>
          </div>
      </div>
        <div class="d-flex flex-column justify-content-center" *ngIf= "checkouts.length > 0">
            <ng-container  *ngFor="let checkout of checkouts">
              <div class="d-flex flex-row m-auto mb-3 align-items-center justify-content-around">
                <img style="width: 160px;" class="me-4" [src]="checkout.imagePath" alt="basket.name" />
                <h6 class="title fs-5 me-4" id="staticBackdropLabel">{{ checkout.name}}</h6>
                <div class="btn-group me-3" role="group" aria-label="Basic example">
                  <button (click)="productCount(checkout, false)" type="button" class="btn btn-outline-primary" style="width: 35px; height: 35px;">-</button>
                  <input [value] ="checkout.count" style="width: 35px; text-align: center">
                  <button (click)="productCount(checkout, true)" type="button" class="btn btn-outline-primary" style="width: 35px; height: 35px;">+</button>
                </div>
                <h2 class="me-2 fs-4">{{ checkout.price * checkout.count}} <span>грн</span></h2>
                <mat-icon (click)="deleteCheckoutProduct(checkout)">delete</mat-icon>
              </div>
           </ng-container>
          </div>
          <hr>
          <div class="total_price">
            <p><span>Всього до сплати:</span> {{ total }} <span>грн</span></p>
          </div>
          <div class="btn-group mt-4 m-auto" style="width: 40%;">
            <input style="width: 225px;" placeholder="Введіть промокот....">
            <button type="button" class="btn btn_check">ЗАСТОСУВАТИ</button>
          </div>
          <form class="form_check m-auto mt-5  row col-8" [formGroup]="orderForm">
            <div class="d-flex">
                <p class="num me-3"><span>1</span></p>
                <p class="title">Оберіть кількість приборів</p>
            </div>
            <div class="d-flex justify-content-around mt-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-select formControlName="countDevices" placeholder="Виберіть кількість приборів...">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select formControlName="devices"  placeholder="Виберіть прибори...">
                  <mat-option value="Звичайні прибори">Звичайні прибори</mat-option>
                  <mat-option value="Навчальні прибори">Навчальні прибори</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="d-flex mt-4">
                <p class="num me-3"><span>2</span></p>
                <p class="title">Оберіть спосіб оплати</p>
            </div>
            <div class="form-check d-flex m-auto mt-4">
              <mat-form-field appearance="outline">
                <mat-select formControlName="cash" placeholder="Виберіть спосіб оплати...">
                  <mat-option value="Оплата готівкою">Оплата готівкою
                  </mat-option>
                  <mat-option value="Безготівкова оплата">Безготівкова оплата</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <div class="d-flex mt-4">
                <p class="num me-3"><span>3</span></p>
                <p class="title">Спосіб доставки</p>
            </div>
            <div class="form-check m-auto mt-4">
              <mat-form-field appearance="outline">
                <mat-select formControlName="delivery" placeholder="Виберіть спосіб доставки...">
                  <mat-option value="Доставка курьєром">Доставка курьєром
                  </mat-option>
                  <mat-option value="Самовивіз">Самовивіз</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Зателефонуйте мені для уточнення деталей
              </label>
            </div>
             <hr class="mt-3">
            <div class="row g-3 m-xl-auto">
              <div class="col-5">
                <label for="name" class="form-label fs-5">Призвіще</label >
                <input type="text" class="form-control" id="name" formControlName="firstName">
              </div>
              <div class="col-5">
                <label for="full_name" class="form-label fs-5">Ім'я</label >
                <input type="text" class="form-control" id="full_name" formControlName="lastName">
              </div>
              <div class="col-5">
                <label for="phone" class="form-label fs-5">телефон</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
              </div>
              <div class="col-5 mb-3">
                <label for="address" class="form-label fs-5">Ваша адреса</label>
                <input type="text" class="form-control" id="address" formControlName="address">
              </div>
            </div>
            <hr>
            <div class="btn-group mt-4 m-auto" style="width: 40%;">
              <button type="button" class="btn btn_check" (click)="ordersData()">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
            </div>
          </form>
     </div>
    </div>


