<div class="icon">
    <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close" mat-dialog-close></mat-icon>
</div>

<form [formGroup]="loginForm"  *ngIf="!isLogin" >
    <h2>Вхід в кабінет</h2>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Електронна адреса</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Enter email...">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Пароль</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Enter password...">
          </mat-form-field>
    </div>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="loginUser()">Увійти в кабінет</button>
    </div>
    <div class="check-login">
        <a class="title" (click)="changeForm()">Зареєструватися</a>
    </div>
</form>



<form [formGroup]="registerForm"  *ngIf="isLogin" >
    <h2>Зареєструватися</h2>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Ім'я</mat-label>
            <input matInput type="text" formControlName="firstName" placeholder="Введіть ім'я...">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Призвище</mat-label>
            <input matInput type="text" formControlName="lastName" placeholder="Введіть призвище...">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Номер телефона</mat-label>
            <input matInput type="tel" formControlName="phoneNumber" placeholder="Введіть номет телефона...">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Електронну адресу</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Enter email...">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Пароль</mat-label>
            <input (input) = "checkConfirmedPassword()" matInput
                   type="password" formControlName="password" placeholder="Enter password...">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Повторіть пароль</mat-label>
            <input (input) = "checkConfirmedPassword()"
                   matInput type="password" formControlName="confirmedPassword" placeholder="repeat password...">
          </mat-form-field>
    </div>
  <mat-error *ngIf="checkVisibilityError('confirmedPassword', 'matchError')">
    "Confirmed password required"
  </mat-error>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="registerUser()">Зареєструватися</button>
    </div>
    <div class="check-login mb-4">
        <span class="title">Ви зареєструвані?   <a class="title" (click)="changeForm()">Увійти</a></span>
    </div>
</form>



