@import '../../shared/style/variables';

.container{
    margin: 0 auto;
    width:798px;
    color: #5a5a5a;

    .line{
        margin: 10px auto;
        width: 160px;
        height: 4px;
        background-color: $primary;
        border-radius: 8px;
    }
    
    .discount{
        font-size: 42px;
        line-height: 1.2em;
        font-weight: 800;
        text-align: center;
        margin-bottom: 25px;
        color: #252525;
    }
    
    h3{
        font-size: 34px;
        font-weight: 700;
        line-height: 1.4em;
        color: #252525;
        margin-bottom: 25px;
    }

    .about_text{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 25px;
    }

    .block-img img{
        width: 380px;
        height: 425px;
        border-radius: 8px;
        margin-bottom: 50px;
    }

    .accordion-title {
        position: relative;
        font-size: 20px;
        line-height: 1.2em;
        font-weight: 700;
        color: #5a5a5a;
        padding: 32px 20px 37px 10px;
        cursor: pointer;
        transition: 0.35s;
    }

    .card_carusel{
        width: 220px;
        height: 250px;
        border: 2px solid #5a5a5a;
        padding: 5px;
    }


}

