
<div class="container">
    <div class="row">
         <div class="col-8 mt-5">
            <h3>Особисті дані</h3>
          </div>

      <form class="example-form" [formGroup]="aboutForm">
      
          <mat-form-field class="example-full-width">
            <mat-label>Ім'я</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Призвіще</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+3 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234" formControlName="phone" >
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Адреса</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
          <div class="btn-group mt-4 m-auto" style="width: 40%;">
            <button type="button" class="btn btn_check">Зберегти зміни</button>
          </div>
         </form>
    </div>
</div>

