.title__cabinet{
  width: 100%;
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
}


.example-container mat-form-field + mat-form-field {
  margin: 20px 0;
}
.mat-mdc-form-field{
  display: flex;
  flex-direction: column;
}


.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-mdc-form-field-error{
  height: 30px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}
