@import '../../shared/style/variables';

.baner__home{
    height: 100%;
    background-image: url(../../../assets/img/5-tyj-v-podarunok-.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

    .baner__title{
        width: 300px;
        height: 450px;
        margin-top: 20px auto;
    }


}
.bg-mono {
  width: 100%;
  background-color: $primary;
  margin: 20px auto;

  .container {
    width: 90%;
    margin: 0 auto;

    .row-banner {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      
    //   .after-banner-item:not(:last-child) {
    //     border-right: 2px solid rgb(255, 251, 251);
    //  }


        .col-banner {
          width: 28%;
          height: 150px;
          text-align: center;
          margin-top: 20px;

          .after-banner-item {
            display: flex;
            align-items: center;
            height: 120px;
            
          .after-banner-img img {
            width: 100px;
            height: 100px;
            margin: 15px;
          }

   

       
        .btn {
            display: inline-block;
            vertical-align: bottom;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            border: none;
            background: none;
            transition: .35s;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            padding: 16px 22px;
            border-radius: 10px;
            color: #252525;
            border: 2px solid #fff;
            background: #fff;
   
          }

          .btn:hover{
            background-color: $primary;
        }
        .after-banner-info{
            text-align: center;
            max-width: 230px;
            color: #252525;

        }

        }
        
   
      }
    }
  }
}


.card_product{
  height: 100%;
  margin: 10px;
  transition: 0.35s;
  position: relative;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 8px;

  .product_image-wrap{
      position: relative;
      height: 185px;
      margin-top: 50px;
      .product_image {
          position: relative;
          display: block;
          height: 100%;
      }
      

  }

  .product_title-wrap{
      display: flex;
      justify-content: space-between;
      margin: 10px 0;         

      .product_title a {
          max-height: 3em;
          text-decoration: none;
          font-weight: 600;
          line-height: 1.5em;
          color: #252525;
          text-align: center;
      }

  }
  .product_desc {
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 3.8em;
      margin-bottom: auto;
      display: flex;
      justify-content: space-between;
      color: #5a5a5a;

      .product_desc p {
          max-width: 250px;
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          line-height: 1.5em;
          color: #5a5a5a;
      }
  }

  .product_desc .product_size {
      padding-left: 15px;
      min-width: 60px;
  }
  .product_desc .product_size {
      max-width: 65px;
      min-width: 60px;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4em;
  }
  .product_size {
      display: inline-block;
      font-size: 16px;
      line-height: 1.4em;
      color: #5a5a5a;
      margin-bottom: 25px;
  }

  .product_controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      .product_price {
          color: #252525;
          font-weight: 400;
          font-size: 18px;
          width: 75px;
      }


       .thumb-input-number {
          display: inline-flex;
          align-items: center;
          border: 1px solid #dcdcdc;
          border-radius: 10px;
          color: #252525;
          font-size: 16px;
          line-height: 16px;
          margin-right: auto;
          margin-left: auto;


      }
      .thumb-input-number button:first-child {
          font-size: 30px;
      }
      .thumb-input-number button {
          width: 25px;
          height: 25px;
          cursor: pointer;
          background: none;
          transition: 0.35s;
          font-size: 20px;
          line-height: 22px;
          color: #5a5a5a;
          background-color: #fff;
          border-radius: 10px;
          padding-bottom: 2px;
          margin: 5px;
      }

      .thumb-input-number input {
          width: 25px;
          height: 25px;
          font-weight: 600;
          text-align: center;
      }

  }
  .order-btn {
      border: 2px solid #b5d8f7;
      background: #b5d8f7;
      padding: 10px 6px;
      line-height: 14px;
      color: #252525;
      font-size: 16px;
      font-weight: 600;
      margin-left: 5px;
  }



  }






.card_product:hover{
  border: 2px solid $primary;

  .order-btn {
      background: #eff1f3;

  }
}


