<section>
  <div class="baner__home">
    <p class="baner__title"></p>
  </div>
</section>

<div class="after-banner bg-mono">
  <div class="container">
    <div class="row-banner">
      <div class="col-banner">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img class="deliv"
              src="../../../assets/img/mn-delivery-img.svg"
              alt=""
            />
          </div>
          <a class="btn btn-secondary" href="#"
            >зони доставки</a>
        </div>
      </div>
      <div class="col-banner">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img src="../../../assets/img/mono-supermen.svg" alt=""/>
          </div>
          <div class="after-banner-info">
            Середній час доставки в зеленій зоні  <br><b>00:43:00</b>
          </div>
        </div>
      </div>
      <div class="col-banner">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/img/mono-bonus.svg"
              alt=""
            />
          </div>
          <div class="after-banner-info">
            Наш графік роботи Працюємо з <b>11:00</b> до <b>22:30</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item tab-list">
      <a class="nav-link active " aria-current="page" href="#">Всі</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Філадельфія</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Каліфорнія</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Запечені</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Фірмові</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Макі</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Преміум</a>
    </li>

  </ul>
</div>


<div class="container mt-3 mb-3 m-auto">
  <div class="row">
     <div class="col-3 mt-3 card_product" *ngFor="let product of allProduct">
          <div class="product_image-wrap">
            <a [routerLink]="['/product/'+ product.id]" class="product_image" href= "#" >
              <img [src]="product.imagePath" class="card-img-top" alt="product.name">
            </a>
          </div>
          <div class="product_title-wrap">
            <div class="product_title title h5 m-auto">
              <a [routerLink]="['/product/'+product.id]" href="#">{{product.name}}</a>
            </div>
            </div>
            <div class="product_desc">
              <p  class="card-text" style="min-height: 95px;" >{{product.description}}</p>
              <div class="product_size"><span class="size">{{product.weight}}</span></div>
              </div>
              <div class="product_controls d-flex justify-content-space-between">
                  <h4 class="card-title pt-2">{{ product.price * product.count }} грн </h4>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="productCount(product, false)" type="button" class="btn btn-outline-primary">-</button>
                    <input type="text" class="form-control" [value]="product.count" style="width: 35px;">
                    <button (click)="productCount(product, true)" type="button" class="btn btn-outline-primary">+</button>
                    </div>
                  <a class="btn btn-outline-primary" (click)="addToBasket(product)">Замовити</a>
                </div>
          </div>


  </div>
</div>


