<section>
  <div class="baner__home">
    <p class="baner__title"></p>
  </div>
</section>

<div class="after-banner bg-mono">
  <div class="container">
    <div class="row-banner">
      <div class="col-banner">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img class="deliv"
              src="../../../assets/img/mn-delivery-img.svg"
              alt=""
            />
          </div>
          <a class="btn btn-secondary" href="#"
            >зони доставки</a>
        </div>
      </div>
      <div class="col-banner">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img src="../../../assets/img/mono-supermen.svg" alt=""/>
          </div>
          <div class="after-banner-info">
            Середній час доставки в зеленій зоні  <br><b>00:43:00</b>
          </div>
        </div>
      </div>
      <div class="col-banner">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/img/mono-bonus.svg"
              alt=""
            />
          </div>
          <div class="after-banner-info">
            Наш графік роботи Працюємо з <b>11:00</b> до <b>22:30</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-product></app-product>


