<div class="icon">
  <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close" mat-dialog-close></mat-icon>
</div>

<div class="d-flex flex-column justify-content-center" *ngIf= "baskets.length === 0">
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h1 class="fs-3">
        Кошик порожній :)
      </h1>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>


<div mat-dialog-content *ngIf= "baskets.length > 0">
      <mat-card  *ngFor="let basket of baskets">
      <mat-card-content>
        <div class="basket__content">
          <img style="width: 120px;" class="me-3" [src]="basket.imagePath" alt="basket.name" />
          <mat-card-title> {{ basket.name}} </mat-card-title>
        </div>
          <mat-button-toggle-group>
            <mat-button-toggle (click)="productCount(basket, false)">-</mat-button-toggle>
            <input [value] ="basket.count" class="count">
            <mat-button-toggle (click)="productCount(basket, true)" >+</mat-button-toggle>
            </mat-button-toggle-group>
          <mat-card-title> {{ basket.price * basket.count}} <span>грн</span> </mat-card-title>
          <mat-icon (click)="deleteBasketProduct(basket)">delete</mat-icon>
      </mat-card-content>
    </mat-card>
  <mat-dialog-actions align="end">
    <mat-card-title>Сума  {{ total }} <span>грн</span></mat-card-title>
    <button type="button" class="btn btn_check fs-6 m-2" mat-dialog-close>
      <a [routerLink]="['/checkaut']"
         routerLinkActive="rout-active">Замовити</a></button>
  </mat-dialog-actions>
</div>


