/* You can add global styles to this file, and also import other style files */
@import './app/shared/style/base';
@import 'ngx-toastr/toastr';

body{
    width: 100%;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;


}