<button (click)="addForm()" type="button" class="btn btn-add">Додати акції</button>
<form [formGroup]="discountForm" (ngSubmit)="addDiscount()">
  <div *ngIf="addForms">
   <div class="mb-3">
     <label for="exampleFormControlInput1" class="form-label">Назва</label>
     <input formControlName="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Введіть назву">
   </div>
   <div class="mb-3">
     <label for="exampleFormControlInput2" class="form-label">Заголовок</label>
     <input formControlName="title" type="" class="form-control" id="exampleFormControlInput2" placeholder="Введіть заголовок">
   </div>
   <div class="mb-3">
     <label for="exampleFormControlTextarea1" class="form-label">Опис</label>
     <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
   </div>
    <ng-container *ngIf="!isUploaded">
     <div class="mb-3">
       <label for="formFile" class="form-label"
         >Default file input example</label
       >
       <input
         class="form-control"
         type="file"
         id="formFile"
         (change)="upload($event)"

       />
     </div>
   </ng-container>
   <ng-container *ngIf="isUploaded">
      <div class="d-flex flex-column">
        <img [src]="valueByControl('imagePath')" alt="" width="165px" />
        <button type="button" class="btn btn-danger mb-2 mt-2 w-50"
          (click)="deleteImage()">Delete</button>
      </div>
    </ng-container>
    <button [disabled]="discountForm.invalid"
    type="submit" class="btn btn-primary mb-3 w-50">
    {{editStatus ? "Save" : "Add"}}
  </button>
  </div>
 </form>
<table class="table table-hover" *ngIf="!addForms">
    <thead>
      <tr>
        <th scope="col">Дата</th>
        <th scope="col">Назва</th>
        <th scope="col">Заголовок</th>
        <th scope="col">Опис</th>
        <th scope="col">Картинка</th>
        <th scope="col">Дії</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of adminDiscounts">
        <td>{{date | date:' dd.MM.YYYY '}}</td>
        <td>{{discount.name}}</td>
        <td>{{discount.title}}</td>
        <td>{{discount.description | slice:0:40}}</td>
        <td>
          <img [src]="discount.imagePath" alt="" height="50px" />
        </td>
        <td>
          <button
            [disabled]=""
            (click)="editDiscount(discount)"
            type="button"
            class="btn me-2 btn-admin"
          >
            Редагувати
          </button>
          <button
            [disabled]="editStatus"
            (click)="deleteDiscount(discount)"
            type="button"
            class="btn btn-admin"
          >
            Видалити
          </button>
        </td>
      </tr>

    </tbody>
  </table>




